@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --c-primary: #1a1a1a;
  --c-secondary: #595e70;
  --c-black-grey: #2d2d2d;
  --c-body: #b7b7b7;
  --c-body-fade: #898989;
}

body {
  color: white;
  background: var(--c-primary);
}

h2 {
  font-size: 28px;
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 2.25rem;
  }
}

.text-body {
  font-size: 12px;
  color: var(--c-body);
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.text-desc {
  font-size: 12px;
  color: var(--c-body);
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.bgCard {
  background: linear-gradient(109deg, rgba(88, 92, 110, 0.68) -29.48%, rgba(89, 94, 112, 0) 105.76%);
  border: 1px solid var(--c-secondary);
}

.bgSection {
  background: linear-gradient(240deg, rgba(217, 217, 217, 0.15) -17.08%, rgba(217, 217, 217, 0) 94.81%);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--c-black-grey);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #646464;
  transition: 0.3s;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #535353;
}

::selection {
  background-color: var(--c-secondary);
}
