@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-primary: #1A1A1A;
  --c-secondary: #595E70;
  --c-black-grey: #2D2D2D;
  --c-body: #B7B7B7;
  --c-body-fade: #898989;
}

body {
  color: white;
  background: var(--c-primary);
}
